
%disabled {
  background-color: #dedede;
  border-color: #dedede;
  color: #afafaf;
  cursor: not-allowed;
}

* {
  font-family: Metropolis,sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
