.progress-module_progress_background__oewVr {
  border-bottom: 1px dashed #a8a8a8;
  height: 2px;
  margin-bottom: 8px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.progress-module_progress_bar__DmP1K {
  background-color: #383838;
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  transition: width 0.2s ease-in-out;
}
.divider-module_divider__PETfM {
  margin-bottom: 20px;
  border-bottom: 1px dashed #383838;
}
.container-module_container__0dLuw {
  padding: 0 3rem;
  margin: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}
.navbar-module_navbar__4D7UV {
  display: flex;
  margin: 0.5rem 1rem;
}
.navbar-module_navbar__4D7UV .navbar-module_logo__c5XZ- img, .navbar-module_navbar__4D7UV .navbar-module_logo__c5XZ- i {
  color: #383838;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 5px;
}
.navbar-module_navbar__4D7UV .navbar-module_logo__c5XZ- a {
  color: #383838;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
.navbar-module_navbar__4D7UV .navbar-module_items__bqoL7 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 5px 0 auto;
}
.navbar-module_navbar__4D7UV .navbar-module_items_dropdown__agUWG {
  align-items: center;
  display: block;
  flex-direction: column;
  justify-content: center;
  left: 0;
  margin-left: auto;
  padding-right: 5px;
  position: relative;
  top: 0;
}
.navbar-module_navbar__4D7UV .navbar-module_items_dropdown__agUWG ul {
  margin-left: 0;
  display: block;
  position: absolute;
  left: -25%;
  top: 100%;
  color: #ffffff;
  background-color: #383838;
  padding: 0;
}
.navbar-module_navbar__4D7UV .navbar-module_items_dropdown__agUWG ul li {
  padding: 5px 0 5px 40px;
  border: 1px dashed #383838;
}
.navbar-module_navbar__4D7UV .navbar-module_items_dropdown__agUWG ul li:hover {
  background-color: #ffffff;
  color: #383838;
}
.navbar-module_navbar__4D7UV .navbar-module_items_dropdown__agUWG i {
  border: 1px solid #383838;
  padding: 3px 10px;
}

ul {
  margin: 0 0 0 0;
}
.breadcrumbs-module_breadcrumb__KFiUa {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: 1px dashed #e5e5e5;
  margin: 0 2rem 1rem 2rem;
  list-style: none;
}
.breadcrumbs-module_breadcrumb__KFiUa span, .breadcrumbs-module_breadcrumb__KFiUa a {
  margin-right: 10px;
  font-style: normal;
  font-size: 0.75rem;
  text-decoration: none;
  color: #333;
}
.breadcrumbs-module_breadcrumb__KFiUa a:hover {
  color: #b3b3b3;
}
.breadcrumbs-module_breadcrumb__KFiUa li:last-child a {
  color: #818181;
}
.radio-group-module_radioGroup__Fts4a {
  display: flex;
  flex-direction: column;
}
.radio-group-module_radioGroup__Fts4a > * {
  margin-bottom: 7px;
}

.radio-group-module_label__uCcVr::after {
  padding-bottom: 10px;
}
/* Customize the label (the container) */
.checkbox-module_container__UUJWU {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.12s ease;
}

/* Hide the browser's default checkbox */
.checkbox-module_container__UUJWU input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-module_checkmark__OpD73 {
  position: absolute;
  transition: all 0.12s ease;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #383838;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.checkbox-module_container__UUJWU:hover input ~ .checkbox-module_checkmark__OpD73 {
  border: 1px dashed #383838;
}

/* When the checkbox is checked, add a blue background */
.checkbox-module_container__UUJWU input:checked ~ .checkbox-module_checkmark__OpD73 {
  background-color: #383838;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-module_checkmark__OpD73:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-module_container__UUJWU input:checked ~ .checkbox-module_checkmark__OpD73:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-module_container__UUJWU .checkbox-module_checkmark__OpD73:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.select-module_select__2Ys-j select:disabled {
  background-color: #dedede;
  border-color: #dedede;
  color: #afafaf;
  cursor: not-allowed;
}

* {
  font-family: Metropolis, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.select-module_select__2Ys-j select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  margin-bottom: 12px;
  padding: 0.25rem 1.5rem 0.25rem 0.5rem;
  transition: all 0.12s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #383838;
  color: #383838;
}
.select-module_select__2Ys-j select:hover:not(:disabled) {
  border-bottom: 1px dashed #383838;
}
.select-module_select__2Ys-j select::-ms-expand {
  display: none;
}
.select-module_select__2Ys-j .select-module_icon__gozOS {
  position: relative;
  top: -5px;
  right: 1.3rem;
  pointer-events: none;
}
.select-module_select__2Ys-j .select-module_icon__gozOS.select-module_disabled__lsFbb {
  color: #b3b3b3;
}
.button-module_button__f4BsD.button-module_disabled__caykk {
  background-color: #dedede;
  border-color: #dedede;
  color: #afafaf;
  cursor: not-allowed;
}

* {
  font-family: Metropolis, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.button-module_button__f4BsD {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 12px;
  padding: 0.5rem 1rem;
  transition: all 0.12s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #383838;
  color: #383838;
}
.button-module_button__f4BsD.button-module_simple__NLaXP {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #383838;
}
.button-module_button__f4BsD:not(.button-module_disabled__caykk):hover.button-module_default__dOOUW {
  background-color: #383838;
  border: 1px solid #383838;
  color: #fff;
}
.button-module_button__f4BsD:not(.button-module_disabled__caykk):hover.button-module_simple__NLaXP:before {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #383838;
  content: "+";
  margin-right: 10px;
}
.button-module_button__f4BsD:not(.button-module_disabled__caykk):active {
  opacity: 0.3;
}
.button-module_button__f4BsD .button-module_icon__Mry-o {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  height: 1em;
  width: 1em;
}
.text-field-module_textfield__jciAL input {
  margin-bottom: 12px;
  padding: 0.5rem 1rem;
  transition: all 0.12s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #ffffff;
  color: #383838;
}
.text-field-module_textfield__jciAL input.text-field-module_default__IF2H3 {
  border: 1px solid #383838;
}
.text-field-module_textfield__jciAL input.text-field-module_minimal__fq8Qy {
  border-bottom: 1px solid #383838;
}
.text-field-module_textfield__jciAL input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0;
  border: 1px dashed #383838;
}
.text-field-module_textfield__jciAL .text-field-module_label__lZxc1 {
  display: block;
  color: #383838;
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
.text-field-module_textfield__jciAL .text-field-module_required__5dW4F {
  color: #ff0000;
  margin-left: 0.35rem;
  font-size: 0.75rem;
  font-weight: 200;
}
.button-group-module_btn_group__qLTun.button-group-module_disabled__ug1O3, .button-group-module_button__LkaYZ.button-group-module_disabled__ug1O3 {
  background-color: #dedede;
  border-color: #dedede;
  color: #afafaf;
  cursor: not-allowed;
}

* {
  font-family: Metropolis, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.button-group-module_button__LkaYZ {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 12px;
  padding: 0.5rem 1rem;
  transition: all 0.12s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #383838;
  color: #383838;
}
.button-group-module_button__LkaYZ.button-group-module_simple__SUfYx {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #383838;
}
.button-group-module_button__LkaYZ:not(.button-group-module_disabled__ug1O3):hover.button-group-module_default__BZWkN {
  background-color: #383838;
  border: 1px solid #383838;
  color: #fff;
}
.button-group-module_button__LkaYZ:not(.button-group-module_disabled__ug1O3):hover.button-group-module_simple__SUfYx:before {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #383838;
  content: "+";
  margin-right: 10px;
}
.button-group-module_button__LkaYZ:not(.button-group-module_disabled__ug1O3):active {
  opacity: 0.3;
}
.button-group-module_button__LkaYZ .button-group-module_icon__e5Y-C {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  height: 1em;
  width: 1em;
}

.button-group-module_btn_group__qLTun > button {
  filter: none;
  box-shadow: none;
}
.button-group-module_btn_group__qLTun > button:not(:last-child) {
  border: 1px solid #e6e6e6;
  border-right: 0;
}
.button-group-module_btn_group__qLTun > button:not(:last-child):hover {
  border-right: 0 !important;
}
.button-group-module_btn_group__qLTun > button:first-child {
  border: 1px solid #e6e6e6;
  border-right: 0;
}
.button-group-module_btn_group__qLTun > button:first-child:hover {
  border-right: 0 !important;
}
.button-group-module_btn_group__qLTun > button:last-child {
  border: 1px solid #e6e6e6;
}