name: Build and Deploy Storybook
on:
  push:
    paths: ["packages/core/src/lib/**"]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false
      - name: Install and Build
        run: | # Install npm packages and build storybook
          find ./packages/* -maxdepth 1 -name package.json -exec npm install \;
          npm i
          npx nx build-storybook core
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@3.6.2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: main # The branch the action should deploy to.
          FOLDER: ../dist/storybook/core # The folder that the build-storybook script generates files.
          CLEAN: true # Automatically remove deleted files from the deploy branch
          TARGET_FOLDER: ../dist/storybook/core # The folder that we serve our Storybook files from

